body {
    background-color: #cccccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* --- Логіка Flex --- */
.container {
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    
    /* Магія Flexbox */
    display: flex;
    flex-wrap: wrap; /* Дозволяє блокам переноситись на новий рядок */
}

.box {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.block-1 {
    width: 50%;
    height: 200px;
    background-color: #8c9eff;
}

.block-2 {
    width: 50%;
    height: 200px;
    background-color: #1faecf;
}

.block-3 {
    width: 100%;
    height: 150px;
    background-color: #aae3f5;
}

.block-4 {
    width: 100%;
    height: 200px;
    background-color: #1a9cb7;
}